.JokeVote {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.JokeVote-arrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.JokeVote-arrow:hover {
    cursor: pointer;
    color: #aaaaaa;
}

.JokeVote-voteContainer {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 3px solid;
    text-align: center;
    border-radius: 50%;
    border-color: greenyellow;
}

.JokeVote-voteContainer-angry {
    border-color: red;
}

.JokeVote-voteContainer-sad {
    border-color: yellow;
}

.JokeVote-voteContainer-ok {
    border-color: greenyellow;
}

.JokeVote-voteContainer-wow {
    border-color: green;
}

.JokeVote-voteContainer-haha {
    border-color: darkgreen;
}
